.advantages__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .advantages__description {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }
}
