.advantages__description--title {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

@media (min-width: $tablet-width) {
  .advantages__description--title {
    width: 490px;
    margin: 0 auto 55px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__description--title {
    width: 600px;
  }
}
