.advantages {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .advantages picture {
    max-height: 256px;
  }
}
