.container__align-right {
  width: 230px;
  text-align: left;
  padding-left: 70px;
  padding-top: 35px;
  position: relative;
}

.container__align-right:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 20px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 39px 37px;
}

.container__align-right:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 20px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 39px 37px;
}

.container__align-right:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 20px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: 39px 37px;
}

@media (min-width: $tablet-width) {
  .container__align-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px;
    padding-left: 0;
    padding-top: 160px;
    padding-bottom: 65px;
    box-sizing: border-box;
    text-align: center;
  }

  .container__align-right:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-size: 75px 72px;
  }

  .container__align-right:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 75px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: 64px 75px;
  }

  .container__align-right:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 77px;
    height: 68px;
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-size: 77px 68px;
  }

  .container__align-right:nth-child(2) {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .container__align-right {
    width: 400px;
    padding-bottom: 85px;
  }
}
