.container--gray {
  background-color: rgb(238, 238, 238);
  color: #333333;
  padding-top: 25px;
  padding-bottom: 10px;
}

@media (max-width: $mobile-width-only) {
  .container--gray {
    border-top: 1px solid lightgray;
    margin: 0 20px;
  }
}

@media (min-width: $tablet-width) {
  .container--gray {
    width: 256px;
    padding-top: 45px;
    padding-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .container--gray {
    width: 400px;
  }
}
