.container--gray {
  background-color: rgb(238, 238, 238);
  color: #333333;
}

@media (min-width: $tablet-width) {
  .container--gray {
    width: 256px;
    height: 256px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .container--gray {
    width: 400px;
  }
}
