.container--intro {
  position: relative;
}

@media (max-width: $mobile-width-only) {
  .container--intro::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 160px solid #81b3d2;
  }

  .container--intro::after {
    content: "";
    position: absolute;
    top: -16px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-right: 160px solid #81b3d2;
  }
}
