.container-logo {
  position: relative;
  display: flex;
  flex-basis: 320px;
  height: 56px;
}

.container-logo::before {
  content: "";
  width: 320px;
  height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 56px;
}

.container-logo::after {
  content: "";
  width: 280px;
  height: 214px;
  background-image: url("../img/text-index.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 20px;
  top: 146px;
}

@media (min-width: $tablet-width) {
  .container-logo {
    display: none;
  }
}
