.container-li {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .container-li {
    position: relative;
    flex-direction: row;
  }

  .container-li::after {
    content: "";
    width: $tablet-width;
    height: 518px;
    background-image: url("../img/back-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    left: 0;
    top: 56px;
    z-index: 1;
  }
}
