.footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .footer {
    width: $tablet-width;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: $desktop-width;
  }
}
