.form__contacts {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 26px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

@media (min-width: $tablet-width) {
  .form__contacts {
    width: 648px;
  }
}

@media (min-width: $desktop-width) {
  .form__contacts {
    width: 960px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
