.form__send {
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .form__send {
    width: 324px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__send {
    width: 480px;
  }
}
