.form-container__title--emotions {
  outline: none;
}

@media (min-width: $tablet-width) {
  .form-container__title--emotions {
    margin-bottom: 55px;
    position: relative;
  }

  .form-container__title--emotions::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -200px;
    width: 125px;
    height: 1px;
    background-color: lightgrey;
  }

  .form-container__title--emotions::after {
    content: "";
    position: absolute;
    top: 11px;
    right: -200px;
    width: 125px;
    height: 1px;
    background-color: lightgrey;
  }
}

@media (min-width: $desktop-width) {
  .form-container__title--emotions {
    width: 100%;
  }

  .form-container__title--emotions::before {
    left: 0;
    width: 279px;
  }

  .form-container__title--emotions::after {
    right: 0;
    width: 279px;
  }
}
