.form-container--attraction {
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .form-container--attraction {
    width: 648px;
    padding-left: 0;
    padding-right: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .form-container--attraction {
    width: 960px;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
