.form-container--emotions {
  flex-direction: column;
  margin-top: 20px;
  border-bottom: none;
}

@media (min-width: $tablet-width) {
  .form-container--emotions {
    width: 648px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .form-container--emotions {
    width: 960px;
  }
}
