.form__input-text--contacts {
  width: calc(100% - 58px);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .form__input-text--contacts {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form__input-text--contacts {
    width: 257px;
  }
}
