.form {
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 60px;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 60px;
  }
}
