.form-container--contacts {
  flex-wrap: wrap;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .form-container--contacts {
    width: 648px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-container--contacts {
    width: 960px;
  }
}
