.header {
  width: 320px;
  background-color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 43px;
}

@media (min-width: $tablet-width) {
  .header {
    width: $tablet-width;
    margin-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: $desktop-width;
  }
}
