.logo-list {
  background-color: transparent;
  text-align: center;
  height: 56px;
}

@media (min-width: $tablet-width) {
  .logo-list {
    width: 102px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
