.media__subject {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .media__subject {
    width: 443px;
    margin-right: auto;
    margin-left: auto;
  }
}
