@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 56px;
  height: 56px;
  margin-right: 20px;
  background-color: rgb(242, 242, 242);
  border-radius: 50%;
}

input[type="checkbox"] + label::before {
  border-radius: 5px;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  width: 22px;
  height: 22px;
  margin-right: 54px;
  background-color: #333333;
  border-radius: 50%;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 17px;
  width: 24px;
  height: 16px;
  margin-right: 54px;
  background-image: url("../img/tick.png");
  background-repeat: no-repeat;
}
