@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

body {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  body {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

input[type="radio"],
input[type="radio"]:hover,
input[type="radio"]:active,
input[type="radio"]:focus,
input[type="checkbox"],
input[type="checkbox"]:hover,
input[type="checkbox"]:active,
input[type="checkbox"]:focus {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 56px;
  height: 56px;
  margin-right: 20px;
  background-color: rgb(242, 242, 242);
  border-radius: 50%;
}

input[type="checkbox"] + label::before {
  border-radius: 5px;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 17px;
  width: 22px;
  height: 22px;
  margin-right: 54px;
  background-color: #333333;
  border-radius: 50%;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 16px;
  width: 25px;
  height: 19px;
  margin-right: 54px;
  background-image: url("../img/tick.png");
  background-repeat: no-repeat;
  background-size: 25px 19px;
  background-position: center;
}

input[type="text"],
textarea {
  background-color: #f2f2f2;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  outline: none;
}

input[type="text"]:hover,
textarea:hover {
  background-color: #e5e5e5;
}

input[type="text"]:active,
input[type="text"]:focus,
textarea:active,
textarea:focus {
  background-color: #ffffff;
  border: 4px solid rgb(229, 229, 229);
}

::-webkit-input-placeholder {
  color: #000000;
}

::-moz-placeholder {
  color: #000000;
}/* Firefox 19+ */

:-moz-placeholder {
  color: #000000;
}/* Firefox 18- */

:-ms-input-placeholder {
  color: #000000;
}

input[type="radio"] + label:hover::before,
input[type="radio"]:focus + label::before,
input[type="checkbox"] + label:hover::before,
input[type="checkbox"]:focus + label::before {
  background-color: #e5e5e5;
}

input[type="radio"] + label:active::before,
input[type="radio"]:active + label::before,
input[type="checkbox"] + label:active::before,
input[type="checkbox"]:active + label::before {
  background-color: #d5d5d5;
}

input[type="radio"]:checked + label:active::after,
input[type="radio"]:active + label::after {
  opacity: 0.3;
}

input[type="checkbox"]:checked + label:active::after,
input[type="checkbox"]:active + label::after {
  background-image: url("../img/tick-gray.png");
}

picture {
  font-size: 0;
}
