.advantages {
  text-align: center;
}

.advantages__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 15px;
}

.advantages__description--title {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 44px;
}

.advantages__description--padding-left-none {
  padding: 0;
  margin: 0;
}

.advantages__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
}

.advantages__title--text-white {
  color: #ffffff;
}

.advantages__img {
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__description {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages__description--title {
    width: 490px;
    margin: 0 auto 55px;
  }

  .advantages__description--padding-left-none {
    width: 165px;
  }

  .advantages__title {
    font-size: 21px;
    width: 151px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .advantages picture {
    max-height: 256px;
  }

  .advantages__description {
    width: 264px;
  }

  .advantages__description--title {
    width: 600px;
  }

  .advantages__description--padding-left-none {
    width: 283px;
  }

  .advantages__img {
    height: 256px;
  }
}
