.btn {
  background-color: #81b3d2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 17px 47px 19px;
  border: none;
}

.btn--popup-failure {
  width: 180px;
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.btn--popup-success {
  width: 280px;
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 20px;
}

.btn:hover,
.btn:focus {
  background-color: #669ec0;
}

.btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.btn:disabled {
  background-color: #e5e5e5;
}

@media (min-width: $tablet-width) {
  .btn {
    width: 458px;
    box-sizing: border-box;
  }

  .btn--popup-failure {
    width: 275px;
  }

  .btn--popup-success {
    margin-left: auto;
    margin-right: auto;
    margin-top: 44px;
    margin-bottom: 44px;
    font-size: 21px;
  }
}
