.container-no-mobile {
  background-color: rgb(238, 238, 238);
}

@media (max-width: $mobile-width-only) {
  .container-no-mobile {
    margin-top: -5px;
  }
}

@media (min-width: $tablet-width) {
  .container-no-mobile {
    display: flex;
    margin-bottom: 50px;
  }
}
