.footer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    margin-bottom: 25px;
  }
}
