.header {
  background-color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 43px;
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 53px;
  }
}
